# Media / disc images
*.mkv
*.mp4
*.iso
*.vob
*.VOB

# DVD files
*.ifo
*.IFO
*.bup
*.BUP

# Build products
*.o
build/
test_menus/
test_menus_all/
__pycache__/
test_dvd_extract/

# Generated/debug output
*.log

# Editor junk
*~
*.swp
#random
build-ifo-dump
test_seinfeld_extract/
